
 /* this is for the webkit scroll */
::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #fffdfd;
}
  
::-webkit-scrollbar-thumb{
    background: #B8B8B8;
    border-radius: 10px;
}



/* this is the hero section */
 .hero{
    height: 100vh;
    width: 100%;
    background-image: url('../Images/hero_cover-two.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
}

 /* this is the size for header icon */
 .icon-size{
    width: 2.5vw;
    color: #ffffffa4;
    cursor: pointer;
 }

 .logo > a{
    color: #ffffffa4;
 }