/* DEFAULT STYLING */
*{
    overflow-x: hidden;
}



 /* this is for the webkit scroll */
::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #fffdfd;
}
  
::-webkit-scrollbar-thumb{
    background: #B8B8B8;
    border-radius: 10px;
}


/* PREDEFINE STYLING */

a{
    text-decoration: none;
    color: #151515;
}

.transit{
    transition: all .5s ease 0s;
}

.ff-family{
    font-family: Candara;
}

.ff-family-light{
    font-family: Candara light;
}

.text-grey-white{
    color: #ffffffa4;
}

.text-grey-dark{
    color:  #353535b0;
}

.bg-grey-white{
    background-color:#ffffffa4;
}

.bg-grey-dark{
    background-color: #353535;
}

.fs-8{
    font-size: .8rem !important;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* this is the hero section */
.hero{
    height: 100vh;
    background-image: url('../Images/hero-cover-two.jpg');
    background-position: center;
    /* background-size: cover; */
    background-repeat: no-repeat;
    transition: background-image 3s ease;
}

.black{
    background-color: #353535d0;
}


 /* HAEDER ICON */
.icon-size{
    width: 2.5vw;
    color: #ffffffa4;
    cursor: pointer;
}

.logo > a{
    color: #ffffffa4;
}

/* NAVIGATIONS */
.navigations{
    height: 34.2vh;
    width: 17vw;
    display: none;
    /* border: 1px solid #353535; */
}

.nav-link-a{
    font-family: Candara light;
}

.nav-link-a:hover{
    transition: all .4s ease-in-out 0s;
    background-color: grey;
    color: #e0e0e0;
    font-family: Candara;
}

/* CART */
.cart-conatianer{
    height: 70vh;
    width: 25vw;
    border: 5px solid #353535;
    display: none;
        
}

.cart-head{
    background-color: #353535;
    border: 0;
    height: 7vh;
    width: inherit;
}

/* PREFALL */
.prefall{
    height: 15vh;
    
}

.explore-button, .view-button{
    border: 1px solid #B8B8B8;
    background-color: transparent;
    text-transform: capitalize;
    width: 10vw;
    height: 6vh;
    text-align: center;
}

.explore-button:hover, .view-button:hover{
    transition: all .8s ease 0s;
    background-color: #b8b8b8a7;
    color: #ffffffd8;
    border: 1px solid #3535353b;
}

 /* THE PREFALL DRESS */
.prefall-wrapper{
    height: 90vh;
}



.favorite{
    width: 2vw;
    color: #797676;
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: plum;
    
}


.prefall-dress{
    height: 80vh;
    
 }

.text-content{
    height: 80vh;
}


/* VARIOUS DRESSES */
.background-default{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition: all .8s ease 0s;
}

/* DRESS ONE */
.dress-one{
    background-image: url('../Images/gown.jpg');
}

.dress-one:hover{
    background-image: url('../Images/gown-model.jpg');
}

/* DRESS TWO */
.dress-two{
    background-image: url('../Images/crop-top.jpg');
}

.dress-two:hover{
    background-image: url('../Images/crop-top-model.jpg');
}

/* DRESS THREE */
.dress-three{
    background-image: url('../Images/blouse.png');
}

.dress-three:hover{
    background-image: url('../Images/blouse-model.jpg');
}

/* TEXT CONTENT FOR THE PREFALL DRESS */
.about{
    width: 12vw;
    height: 5vh;
}
.about-button {
    border: 1px solid #5251514e;
    background-color: #b8b8b8a7;
    text-transform: capitalize;
    text-align: center;
    width: 100%;
    height: 100%;
    
}

.about-button:hover{
    transition: all .8s ease 0s;
    background-color: transparent;
    color: #151515;
}


/* PAGE TEXT CONTENT */
.page-text-content{
    height: 60vh;
}

/* THE BEST SELLER */
.best-seller-dress{
    height: 70vh;
}

/* BEST SELLER ONE */
.best-seller-one{
    background-image: url('../Images/best-seller-one.jpg');
}

.best-seller-one:hover{
    background-image: url('../Images/best-seller-one-model.jpg');
}

/* BEST SELLER TWO */
.best-seller-two{
    background-image: url('../Images/best-seller-two.jpg');
}

.best-seller-two:hover{
    background-image: url('../Images/best-seller-two-model.jpg');
}

/* BEST SELLER THREE */
.best-seller-three{
    background-image: url('../Images/best-seller-three.jpg');
}

.best-seller-three:hover{
    background-image: url('../Images/best-seller-three-model.jpg');
}

/* BEST SELLER FOUR */
.best-seller-four{
    background-image: url('../Images/best-seller-four.jpg');
}

.best-seller-four:hover{
    background-image: url('../Images/best-seller-four-model.jpg');
}


/* HOT SALES */
.hot-sales{ 
    font-family: Candara light;
}

/* HOT SALES DRESS */
.hot-sales-dress{
    height: 90vh;
} 

/* hot sales one */
.hot-sale-one{
    background-image: url('../Images/menu-frame-one-model.jpg');
}

.hot-sale-one:hover{
    background-image: url('../Images/menu-frame-one.jpeg');
}

/* hot sales two */
.hot-sale-two{
    background-image: url('../Images/menu-frame-two-model.jpg');
}

.hot-sale-two:hover{
    background-image: url('../Images/menu-frame-two.jpg');
}

/* hot sales three */
.hot-sale-three{
    background-image: url('../Images/menu-frame-three.jpg');
}

.hot-sale-three:hover{
    background-image: url('../Images/menu-frame-three-model.jpg');
}


/* COLLECTIONS PAGE STYLING */

/* .collection-header{
    height: 15vh;
} */


/* FOOTER */
.footer{
    height: 60vh;
    background-color: #b8b8b8bd;
}

.footerName{
    word-spacing: 1rem;
    color: #626060;
}

.footer-links{
    color: #3b3939;
}

.footer-links:hover{
    text-decoration: overline;
    color: #626060;
}

.subscribe{
    border: 0;
    color: #3535358e;
}

.footer-email{
    border: 1px solid #B8B8B8;
    width: 35vh;
    outline: 0;
}

/* Socials */
.social-links{
    width: 3vw;
    margin: 0 .3rem;

}

.social-links:hover{
    transition: all .3s ease 0s;
    width: 2.9vw;
}

.footer-note{
    color: #626060;
}


@media screen and (max-width:580px) {
      /* CART */
    .cart-conatianer{
        height: 50vh;
        width: 50vw;
        border: 5px solid #353535;
        display: none;
    }

    /* NAVIGATIONS */
    .navigations{
        height: 30vh;
        width: 35vw;
        display: none;
    }

    .cart-head{
        height: 5.5vh;
        width: inherit;
    }
    #close-cart{
        padding-right: 4px;
    }

    /* ICON SIZE */
    .icon-size{
        width: 8.5vw;
        color: #ffffffa4;
        cursor: pointer;
    }

    /* THE PREFALL DRESS */
    .prefall-wrapper{
        height: 270vh;
    }

    .favorite{
        width: 8vw;
        
    }
    .prefall-dress{
        height: 260vh;
        
    }
    /* BEST SELLER */
    .best-seller-dress{
        height: 280vh;
    }

    /* HOT SALES DRESS */
    .hot-sales-dress{
        height: 270vh;
    } 

    /* FOOTER */
    .footer-links{
        font-size: .7rem;
        padding-left:.2rem ;
    }

    .social-links{
        width: 6vw;
        margin: 0 .3rem;
    }

    .social-links:hover{
        width: 6vw;
        
    }


    .footer-links:hover{
        text-decoration: none;
        
    }

    .footer-email:focus{
      font-size: .8rem;
    }

    

}