/* DEFAULT STYLING */
*{
    transition: all .5s ease 0s;
} 

 /* this is for the webkit scroll */
::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #fffdfd;
}
  
::-webkit-scrollbar-thumb{
    background: #B8B8B8;
    border-radius: 10px;
}

.no-scroll {
    overflow: hidden;

}

/* PREDEFINE STYLING */

a{
    text-decoration: none;
    color: #151515;
}

.transit{
    transition: all .5s ease 0s;
}

.ff-family{
    font-family: Candara;
}

.ff-family-light{
    font-family: Candara light;
}

.text-grey-white{
    color: #ffffffa4;
}

.text-grey-dark{
    color:  #353535b0;
}

.bg-grey-white{
    background-color:#ffffffa4;
}

.bg-grey-dark{
    background-color: #353535;
}   

.fs-8{
    font-size: .8rem !important;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-cart{
    width: 2vw;
    color: rgba(210, 105, 30, 0.589);
}

.icon-cart:hover{
    cursor: pointer;
}


/* this is the hero section */
.hero{
    height: 100vh;
    background-image: url('/Images/hero-cover-two.jpg');
    background-position: center;
    /* background-size: cover; */
    background-repeat: no-repeat;
    transition: background-image 3s ease;
}

.black{
    background-color: #353535d0;
}


 /* HAEDER ICON */
.icon-size{
    width: 2.5vw;
    color: #ffffffa4;
    cursor: pointer;
}

.logo > a{
    color: #ffffffa4;
}

/* Animation for hiding the navigation */
.show-nav {
    transform: translateX(0);
    opacity: 1;

}
.hide-nav {
    transform: translateX(-100%);
    opacity: 0;
    
}

/* NAVIGATIONS */
.navigations{
    height: 34.2vh;
    width: 17vw;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.6s ease , opacity 0.6s ease-in;
    z-index: 9999;
}

.fav-nav-icon{
    width: 1.5vw;
    color: #797676;
    color: peachpuff;
}

.nav-link-a{
    font-family: Candara light;
}

.nav-link-a:hover{
    transition: all .4s ease-in-out 0s;
    background-color: grey;
    color: #e0e0e0;
    font-family: Candara;
}
.nav-link-active{
    background-color: rgba(128, 128, 128, 0.568);
    color: #e0e0e0;
    font-family: Candara;
}

/* CART */

/* Animation for showing the cart */
.show-cart {
    transform: translateX(0);
    opacity: 1;

}

/* Animation for hiding the cart */
.hide-cart {
    transform: translateX(100%);
    opacity: 0;
    
}

/* empty cart display message */
.cart-empty{
    /* display: none; */
    color: #35353560;
    position: absolute;
    top: 40%;
    left: 25%;
}

.cart-empty-p {
    padding-left: 2.5em;
}

/* cart container */
.cart-container{
    width: 30vw;
    height: 100%;
    /* border: 3px solid  #151515e7; */
    position: fixed;
    display: block;
    top: 0;
    right: 0; 
    background-color: #ffffff;
    transition: transform 0.6s ease , opacity 0.6s ease-in ;
    z-index: 9999;
    font-family: candara;
}

/* cart head */

.cart-head{
    border: 0;
    max-height: 8%;
    width: 100%;
    box-shadow: 1px 1px 2px 1px #15151567;
}

#close-cart:hover{
    transition: all .5s ease 0s;
    box-shadow: 1px 1px 2px 1px #15151567;
}


/* cart content */
.cart-content-wrapper{
    width: 100%;
    max-height: 75%;
    overflow-y: scroll;
    box-sizing: border-box;  
    scroll-behavior: smooth;
}

.cart-content{
    width: 100%;
    height: 100%;

}


.cart-items{
    background-color: #ffffff;
    height: 15vh;
    width: 96%;

}

.cart-items:hover{
    transition: all .5s ease-in-out 0s;
    box-shadow: 1px 1px 5px 2px #151515;
}



.cart-items-image{
    width: 20%;
    height: inherit;
}

.cart-image-size{
    width: 100%;
    height: 15vh;
}

.cart-items-name{
    width: 60%;
    height: inherit;
}

.cart-items-icons{
    width: 20%;
    height: inherit;
}


.close-icon{
    width: 100%;
    height: 70%;
}
.close-icon-x{
    position: absolute;
    top: .2rem;
    right: .2rem;
}

.add-remove{
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: .2rem ;

}

.items-icon-size{
    width: 1.34vw;
    color: #080808a4;
    cursor: pointer;
}

.items-icon-Qty{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151515;
}

/* Check out button */

.check-out{
    width: 100%;
    max-height: 17%;
    box-shadow: -1px -1px 2px 1px #15151567;
    
}

.btn-check-out, .subtotal {
    width: 90%;
    height: 7vh;
    font-family: candara ;
    
}

/* PREFALL */
.prefall{
    height: 15vh;
    
}

.explore-button, .view-button{
    border: 1px solid #B8B8B8;
    background-color: transparent;
    text-transform: capitalize;
    width: 10vw;
    height: 6vh;
    text-align: center;
}

.explore-button:hover, .view-button:hover{
    transition: all .8s ease 0s;
    background-color: #b8b8b8a7;
    color: #ffffffd8;
    border: 1px solid #3535353b;
}

 /* THE PREFALL DRESS */
.prefall-wrapper{
    height: 90vh;
}



.favorite{
    width: 2vw;
    color: #797676;
    position: absolute;
    top: 0rem;
    right: 0rem;
    color: peachpuff;
}

/* container holding the favorite icons */
.svg{
    width: 2.5vw;
    height: 5vh;
    position: absolute;
    top: 2rem;
    right: 2rem;

}


.prefall-dress{
    height: 80vh;
    
 }

.text-content{
    height: 80vh;
}


/* VARIOUS DRESSES */
.background-default{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition: all .8s ease 0s;
}

/* DRESS ONE */
.dress-one{
    background-image: url('../Images/gown.jpg');
}

.dress-one:hover{
    background-image: url('../Images/gown-model.jpg');
}

/* DRESS TWO */
.dress-two{
    background-image: url('../Images/crop-top.jpg');
}

.dress-two:hover{
    background-image: url('../Images/crop-top-model.jpg');
}

/* DRESS THREE */
.dress-three{
    background-image: url('../Images/blouse.png');
}

.dress-three:hover{
    background-image: url('../Images/blouse-model.jpg');
}

/* TEXT CONTENT FOR THE PREFALL DRESS */
.about{
    width: 12vw;
    height: 5vh;
}
.about-button {
    border: 1px solid #5251514e;
    background-color: #b8b8b8a7;
    text-transform: capitalize;
    text-align: center;
    width: 100%;
    height: 100%;
    
}

.about-button:hover{
    transition: all .8s ease 0s;
    background-color: transparent;
    color: #151515;
}


/* PAGE TEXT CONTENT */
.page-text-content{
    height: 60vh;
}

/* THE BEST SELLER */
.best-seller-dress{
    height: 70vh;
}

/* BEST SELLER ONE */
.best-seller-one{
    background-image: url('../Images/best-seller-one.jpg');
}

.best-seller-one:hover{
    background-image: url('../Images/best-seller-one-model.jpg');
}

/* BEST SELLER TWO */
.best-seller-two{
    background-image: url('../Images/best-seller-two.jpg');
}

.best-seller-two:hover{
    background-image: url('../Images/best-seller-two-model.jpg');
}

/* BEST SELLER THREE */
.best-seller-three{
    background-image: url('../Images/best-seller-three.jpg');
}

.best-seller-three:hover{
    background-image: url('../Images/best-seller-three-model.jpg');
}

/* BEST SELLER FOUR */
.best-seller-four{
    background-image: url('../Images/best-seller-four.jpg');
}

.best-seller-four:hover{
    background-image: url('../Images/best-seller-four-model.jpg');
}


/* HOT SALES */
.hot-sales{ 
    font-family: Candara light;
}

/* HOT SALES DRESS */
.hot-sales-dress{
    height: 90vh;
} 

/* hot sales one */
.hot-sale-one{
    background-image: url('../Images/menu-frame-one-model.jpg');
}

.hot-sale-one:hover{
    background-image: url('../Images/menu-frame-one.jpeg');
}

/* hot sales two */
.hot-sale-two{
    background-image: url('../Images/menu-frame-two-model.jpg');
}

.hot-sale-two:hover{
    background-image: url('../Images/menu-frame-two.jpg');
}

/* hot sales three */
.hot-sale-three{
    background-image: url('../Images/menu-frame-three.jpg');
}

.hot-sale-three:hover{
    background-image: url('../Images/menu-frame-three-model.jpg');
}


/* COLLECTIONS PAGE STYLING */

                /* ROW ONE */
                
.collection-best-seller-one {
    background-image: url('../Images/collection/collection-best-seller-one.jpg');
}

.collection-best-seller-one:hover {
    background-image: url('../Images/collection/collection-best-seller-one-model.jpg');
}

/* collection best seller two */
.collection-best-seller-two {
    background-image: url('../Images/collection/collection-best-seller-two.jpg');
}

.collection-best-seller-two:hover {
    background-image: url('../Images/collection/collection-best-seller-two-model.jpg');
}

/* collection best seller three */
.collection-best-seller-three {
    background-image: url('../Images/collection/collection-best-seller-three.jpg');
}

.collection-best-seller-three:hover {
    background-image: url('../Images/collection/collection-best-seller-three-model.jpg');
}

/* collection best seller four */
.collection-best-seller-four {
    background-image: url('../Images/collection/collection-best-seller-four.jpg');
}

.collection-best-seller-four:hover {
    background-image: url('../Images/collection/collection-best-seller-four-model.jpg');
}

                /* ROW TWO */

/* collection best seller five */
.collection-best-seller-five {
    background-image: url('../Images/collection/infinite-collection-1-model.jpeg');
}

.collection-best-seller-five:hover {
    background-image: url('../Images/collection/infinite-collection-1.jpeg');
}

/* collection best seller six */
.collection-best-seller-six {
    background-image: url('../Images/collection/infinite-collection-2-model.jpeg');
}

.collection-best-seller-six:hover {
    background-image: url('../Images/collection/infinite-collection-2.jpeg');
}

/* collection best seller seven */
.collection-best-seller-seven {
    background-image: url('../Images/collection/infinite-collection-3-model.jpeg');
}

.collection-best-seller-seven:hover {
    background-image: url('../Images/collection/infinite-collection-3.jpeg');
}

/* collection best seller eight */
.collection-best-seller-eight {
    background-image: url('../Images/collection/infinite-collection-4-model.jpeg');
}

.collection-best-seller-eight:hover {
    background-image: url('../Images/collection/infinite-collection-4.jpeg');
}



                /* ROW THREE */

/* collection best seller nine */
.collection-best-seller-nine {
    background-image: url('../Images/collection/infinite-collection-5-model.jpeg');
}

.collection-best-seller-nine:hover {
    background-image: url('../Images/collection/infinite-collection-5.jpeg');
}

/* collection best seller ten */
.collection-best-seller-ten {
    background-image: url('../Images/collection/infinite-collection-7.jpeg');
}

.collection-best-seller-ten:hover {
    background-image: url('../Images/collection/infinite-collection-7-model.jpeg');
}

/* collection best seller eleven */
.collection-best-seller-eleven {
    background-image: url('../Images/collection/infinite-collection-6-model.jpeg');
}

.collection-best-seller-eleven:hover {
    background-image: url('../Images/collection/infinite-collection-6.jpeg');
}

/* collection best seller twelve */
.collection-best-seller-twelve {
    background-image: url('../Images/collection/infinite-collection-8.jpeg');
}

.collection-best-seller-twelve:hover {
    background-image: url('../Images/collection/infinite-collection-8-model.jpeg');
}

                /* ROW FOUR */

/* collection best seller 13 */
.collection-best-seller-13 {
    background-image: url('../Images/collection/infinite-collection-9.jpeg');
}

.collection-best-seller-13:hover {
    background-image: url('../Images/collection/infinite-collection-9-model.jpeg');
}

/* collection best seller 14 */
.collection-best-seller-14 {
    background-image: url('../Images/collection/infinite-collection-10.jpeg');
}

.collection-best-seller-14:hover {
    background-image: url('../Images/collection/infinite-collection-10-model.jpeg');
}

/* collection best seller 15 */
.collection-best-seller-15 {
    background-image: url('../Images/collection/infinite-collection-11.jpeg');
}

.collection-best-seller-15:hover {
    background-image: url('../Images/collection/infinite-collection-11-model.jpeg');
}

/* collection best seller 16 */
.collection-best-seller-16 {
    background-image: url('../Images/collection/infinite-collection-12.jpeg');
}

.collection-best-seller-16:hover {
    background-image: url('../Images/collection/infinite-collection-12-model.jpeg');
}

                /* ROW FIVE */

/* collection best seller 17 */
.collection-best-seller-17 {
    background-image: url('../Images/collection/infinite-collection-13.jpeg');
}

.collection-best-seller-17:hover {
    background-image: url('../Images/collection/infinite-collection-13-model.jpeg');
}


/* collection best seller 18 */
.collection-best-seller-18 {
    background-image: url('../Images/collection/infinite-collection-14.jpeg');
}

.collection-best-seller-18:hover {
    background-image: url('../Images/collection/infinite-collection-14-model.jpeg');
}

/* collection best seller 19 */
.collection-best-seller-19 {
    background-image: url('../Images/collection/infinite-collection-15.jpeg');
}

.collection-best-seller-19:hover {
    background-image: url('../Images/collection/infinite-collection-15-model.jpeg');
}

/* collection best seller 20 */
.collection-best-seller-20 {
    background-image: url('../Images/collection/infinite-collection-16.jpeg');
}

.collection-best-seller-20:hover {
    background-image: url('../Images/collection/infinite-collection-16-model.jpeg');
}

                /* ROW FIVE */

/* collection best seller 21 */
.collection-best-seller-21 {
    background-image: url('../Images/collection/infinite-collection-17.jpeg');
}

.collection-best-seller-21:hover {
    background-image: url('../Images/collection/infinite-collection-17-model.jpeg');
}


/* collection best seller 22 */
.collection-best-seller-22 {
    background-image: url('../Images/collection/infinite-collection-18.jpeg');
}

.collection-best-seller-22:hover {
    background-image: url('../Images/collection/infinite-collection-18-model.jpeg');
}

/* collection best seller 23 */
.collection-best-seller-23 {
    background-image: url('../Images/collection/infinite-collection-19.jpeg');
}

.collection-best-seller-23:hover {
    background-image: url('../Images/collection/infinite-collection-19-model.jpeg');
}

/* collection best seller 24 */
.collection-best-seller-24 {
    background-image: url('../Images/collection/infinite-collection-20.jpeg');
}

.collection-best-seller-24:hover {
    background-image: url('../Images/collection/infinite-collection-20-model.jpeg');
}

/* FOOTER */
.footer{
    height: 60vh;
    background-color: #b8b8b8bd;
}

.footerName{
    word-spacing: 1rem;
    color: #626060;
}

.footer-links{
    color: #3b3939;
}

.footer-links:hover{
    text-decoration: overline;
    color: #626060;
}

.subscribe{
    border: 0;
    color: #3535358e;
}

.footer-email{
    border: 1px solid #B8B8B8;
    width: 35vh;
    outline: 0;
}

/* Socials */
.social-links{
    width: 3vw;
    margin: 0 .3rem;

}

.social-links:hover{
    transition: all .3s ease 0s;
    width: 2.9vw;
}

.footer-note{
    color: #626060;
}

@media screen and (max-width:900px)  {
    /* CART */
    .cart-container{
    width: 100%;
    border: 5px solid #353535;
    display: none;
}
    
}


@media screen and (max-width:580px) {
      /* CART */
    /* .cart-container{
        width: 100%;
        border: 5px solid #353535;
        display: none;
    } */

    .items-icon-size{
        width: 4vw;
        color: #080808a4;
        cursor: pointer;
    }

    /* NAVIGATIONS */
    .navigations{
        height: 30vh;
        width: 35vw;
        display: none;
    }

    .cart-head{
        height: 5.5vh;
        width: inherit;
    }
    #close-cart{
        padding-right: 4px;
    }

    /* ICON SIZE */
    .icon-size{
        width: 8.5vw;
        color: #ffffffa4;
        cursor: pointer;
    }

    /* THE PREFALL DRESS */
    .prefall-wrapper{
        height: 270vh;
    }

    .svg{
        width: 8vw;
        height: 8vh;
    
    }

    .favorite{
        width: 7    vw;
    }
    .prefall-dress{
        height: 260vh;
        
    }
    /* BEST SELLER */
    .best-seller-dress{
        height: 280vh;
    }

    /* HOT SALES DRESS */
    .hot-sales-dress{
        height: 270vh;
    } 

    /* FOOTER */
    .footer-links{
        font-size: .7rem;
        padding-left:.2rem ;
    }

    .social-links{
        width: 6vw;
        margin: 0 .3rem;
    }

    .social-links:hover{
        width: 6vw;
        
    }


    .footer-links:hover{
        text-decoration: none;
        
    }

    .footer-email:focus{
      font-size: .8rem;
    }

    

}